<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Book",
  "name": "EarthRISE Applied Artificial Intelligence and Deep Learning Book",
  "author": [
    {"@type": "Person", "name": "Tim Mayer"},
    {"@type": "Person", "name": "Biplov Bhandari"},
    {"@type": "Person", "name": "David Saah"}
  ],
  "datePublished": "2026-06-01",
  "publisher": {"@type": "Organization", "name": "NASA EarthRISE"},
  "license": "https://creativecommons.org/licenses/by/4.0/",
  "url": "https://nasa-earthrise.github.io/EarthRISE-Applied-Artificial-Intelligence-and-Deep-Learning-Book/",
  "identifier": {"@type": "PropertyValue", "propertyID": "DOI", "value": "10.5281/zenodo.20547797"}
}
</script>
